<div id="container">
  <div class="chat">
    <div class="yours messages">
      <div class="message">
        भाषा छनोट गर्नुस
      </div>
      <div class="message">
        <ion-button
          size="small"
          color="light"
          (click)="languageClicked($event, 'Nepali')"
          padding
          >Nepali</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="languageClicked($event, 'English')"
          padding
          >English</ion-button
        >
      </div>
    </div>
    <div class="mine messages">
      <div class="message">
        English
      </div>
    </div>

    <div class="yours messages">
      <div class="message">
        <ion-row>
          <ion-text>
            Hello! Begin Your Corona Self Assessment. This interaction should
            not be taken as expert medical advice.
          </ion-text>
        </ion-row>
      </div>
      <div class="message">
        <ion-row>
          <ion-text padding>
            How old are you?
          </ion-text>
        </ion-row>
      </div>
    </div>

    <div class="mine messages">
      <div class="message">
        <ion-input
          id="userAge"
          [(ngModel)]="userage"
          type="number"
          placeholder="Enter your age."
        ></ion-input>
      </div>
      <ion-button size="small" (click)="AgeInput()">Done</ion-button>
    </div>

    <div class="mine messages">
      <div class="message"></div>
    </div>

    <div class="yours messages">
      <div class="message">
        <ion-row class="information">
          <ion-text class="textArea">Please select your gender</ion-text>
        </ion-row>
      </div>
      <ion-row>
        <ion-button
          size="small"
          color="light"
          (click)="GenderClicked($event, 'Female')"
          >Female</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="GenderClicked($event, 'Male')"
          >Male</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="GenderClicked($event, 'Others')"
          >Others</ion-button
        >
      </ion-row>
    </div>

    <div class="mine messages">
      <div class="message">
        MALE
      </div>
    </div>

    <div class="yours messages">
      <div class="message">
        Please let us know your current body temperature in degree Fahrenheit
        (Normal body temperature is 98.6°F):
      </div>

      <div class="message">
        <ion-button
          (click)="TempClicked($event, 'Normal(96°F - 98.6°F)')"
          size="small"
          color="light"
          >Normal(96°F - 98.6°F)</ion-button
        >
        <ion-button
          (click)="TempClicked($event, 'Fever (98.6°F - 102°F)')"
          size="small"
          color="light"
          >Fever (98.6°F - 102°F)</ion-button
        >
        <ion-button
          (click)="TempClicked($event, 'High Fever (>102°F)')"
          size="small"
          color="light"
          >High Fever (>102°F)</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="TempClicked($event, 'Dont know')"
          >Don't Know</ion-button
        >
      </div>
    </div>

    <div class="mine messages">
      <div class="message">
        FEVER
      </div>
    </div>

    <div class="yours messages">
      <div class="message">
        Are you experiencing any of the symptoms below (mark all those
        applicable)
      </div>
      <div class="message">
        <!-- <ion-row class="information"> -->
        <ion-button
          size="small"
          color="light"
          (click)="SymptomClicked($event, 'Cough')"
          >Cough</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="SymptomClicked($event, 'Tiredness')"
          >Tiredness</ion-button
        >
        <!-- <ion-button
            size="small"
            color="light"
            (click)="SymptomClicked('Difficult Breathing')"
            >Difficult Breathing</ion-button
          > -->
        <ion-button
          id="confirmSymptom"
          size="small"
          color="light"
          (click)="SymptomConfirmed($event)"
          >None of these</ion-button
        >
        <!-- </ion-row> -->
      </div>
    </div>

    <div class="mine messages">
      <div class="message"></div>
    </div>

    <div class="yours messages">
      <div class="message">
        <ion-text>
          Additionally, please verify if you are experiencing any of the
          symptoms below (mark all those applicable)
        </ion-text>
      </div>
      <div class="message">
        <ion-button
          size="small"
          color="light"
          (click)="AdditionalSymp($event, 'Difficulty in Breathing')"
          >Difficulty in Breathing</ion-button
        >
        <!-- <ion-button size="small" color="light">
          Blush Lip </ion-button
        > -->
        <ion-button
          size="small"
          color="light"
          (click)="AdditionalSymp($event, 'Air Hunger')"
        >
          Air Hunger</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="
            AdditionalSymp($event, 'Persistant Pain and Pressure in Chest')
          "
        >
          Persistant Pain and Pressure in Chest</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="AdditionalSymp($event, 'Severe Weakness')"
        >
          Severe Weakness</ion-button
        >
        <ion-button
          id="ConfirmAddSymp"
          size="small"
          color="light"
          (click)="ConfirmAdditionalSymp($event)"
        >
          None of these</ion-button
        >
      </div>
    </div>

    <div class="mine messages">
      <div class="message"></div>
    </div>

    <div class="yours messages">
      <div class="message">
        Please select your travel and exposure details
      </div>

      <div class="message">
        <ion-row>
          <ion-button
            size="small"
            color="light"
            (click)="History($event, 'No Travel History')"
          >
            No Travel History</ion-button
          >
          <ion-button
            size="small"
            color="light"
            c
            (click)="
              History(
                $event,
                'History of travel in affected geographical area in last 14
          days'
              )
            "
          >
            History of travel in affected geographical area in last 14
            days</ion-button
          >
          <ion-button
            size="small"
            color="light"
            (click)="
              History(
                $event,
                'Close Contact with confirmed COVID in last 14 days'
              )
            "
          >
            Close Contact with confirmed COVID in last 14 days</ion-button
          >
        </ion-row>
      </div>
    </div>

    <div class="mine messages">
      <div class="message"></div>
    </div>

    <div class="yours messages">
      <div class="message">
        Do you have a history of any of these conditions (mark all those
        applicable)
      </div>

      <div class="message">
        <ion-button
          size="small"
          color="light"
          (click)="DiseaseClicked($event, 'Diabetes')"
        >
          Diabetes</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="DiseaseClicked($event, 'High Blood Pressure')"
        >
          High Blood Pressure</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="DiseaseClicked($event, 'Heart Disease')"
        >
          Heart Disease</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="DiseaseClicked($event, 'Kidney Disease')"
        >
          Kidney Disease</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="DiseaseClicked($event, 'Lung disease')"
        >
          Lung disease</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="DiseaseClicked($event, 'Stroke')"
        >
          Stroke</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="DiseaseClicked($event, 'Reduced Immunity')"
        >
          Reduced Immunity</ion-button
        >
        <ion-button
          id="confirmHistory"
          size="small"
          color="light"
          (click)="ConfirmHistoryDisease($event)"
        >
          None of these</ion-button
        >
      </div>
    </div>

    <div class="mine messages">
      <div class="message">
        Diabetes, High Blood Pressure
      </div>
    </div>

    <div class="yours messages">
      <div class="message">
        How have your symptoms progressed over the last 48 hrs?
      </div>
      <div class="message">
        <ion-button
          size="small"
          color="light"
          (click)="Progress($event, 'Improved')"
        >
          Improved</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="Progress($event, 'No Change')"
        >
          No Change</ion-button
        >
        <ion-button
          size="small"
          color="light"
          (click)="Progress($event, 'Worsen')"
        >
          Worsen</ion-button
        >
      </div>
    </div>

    <div class="mine messages">
      <div class="message"></div>
    </div>
  </div>

  <ion-footer id="result">
    <ion-button expand="block" fill="solid" (click)="ShowModal()">
      Show Result
    </ion-button>
  </ion-footer>
</div>
